* {
  margin: 0%;
  padding: 0%;
}
body {
  background: url("img/fondo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 10vh;
}

.contenedor-icono {
  color: #7e9fe6;
}
.bi .bi-code-slash {
  width: 40px;
}

#principal {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
main .text-center {
  margin-top: 50px;
}

main h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 0%;
  color: #ffffff;
}
main h3 {
  margin-top: -1px;
  color: #ffffff;
  text-align: center;
}
main hr {
  width: 50%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}

.acerca {
  margin-top: 500px;
  background-color: #131314;
  background-size: 100%;

  color: #ffffff;
  text-align: center;
}


.acerca h2 {
  text-align: center;
}

.acerca p {
  text-align: center;
}



.acerca hr {
  width: 20%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}

.educacion {
  
  background-color: #131314;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}

.educacion h4 img{
  height: 40px;
  width: 40px;
  color: #ffffff;
}

.primera{
  border: 1px solid #ffffff;
  margin: 30px;
  padding: 10px;
  background-color: #131314;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  box-sizing: auto;
}
.portfolio {

  background-color: #131314;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  
}
.carousel-item img{
  height: 400px;
  
}

.carousel-item h5{
  color: #000000;
  font-size: 2.5em;
}
.carousel-item P{
  color: #000000;
  font-size: 1.5em;
  margin-top: 80px;

}



