* {
  margin: 0%;
  padding: 0%;
}




body {
  background: url("img/fondo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vh;
  font-family: "poppins" sans-serif;
}

.contenedor-icono {
  color: #7e9fe6;
}
.bi .bi-code-slash {
  width: 40px;
}
.link_contacto {
  text-decoration: none;
  color: #ffffff;
  
}

#principal {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
main .text-center {
  margin-top: 50px;
}

main h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 0%;
  color: #ffffff;
}
main h3 {
  margin-top: -1px;
  color: #ffffff;
  text-align: center;
}
main hr {
  width: 50%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}

.acerca {
  margin-top: 500px;
  background-color: #1c1c30;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}


.acerca h2 {
  text-align: center;
}

.acerca p {
  text-align: center;
}



.acerca hr {
  width: 20%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}

.educacion {
  
  background-color: #1c1c30;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}

.educacion h4 img{
  height: 40px;
  width: 40px;
  color: #ffffff;
}
.educacion hr{
  width: 20%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}
.primera{
  border: 1px solid #ffffff;
  margin: 30px;
  padding: 10px;
  background-color: #1c1c30;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  box-sizing: auto;
  display: inline-block;
  
}
.segunda{
  border: 1px solid #ffffff;
  margin: 30px;
  padding: 10px;
  background-color: #1c1c30;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  box-sizing: auto;
  display: inline-block;
  
}
.portfolio {

  background-color: #1c1c30;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
  
}
.portfolio hr{
  width: 20%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}
.carousel-item img{
  height: 400px;
  
}

.carousel-item h5{
  color: #000000;
  font-size: 2.5em;
}
.carousel-item P{
  color: #000000;
  font-size: 1.5em;
  margin-top: 80px;

}

.carousel-item img{
  object-fit: cover;
  width: 50%;
  align-items: center;
}

.imagen_normal{
  width: 50%;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.header {
  color: #ffffff;
  font-size: 27px;
  padding: 10px;
  text-align: center;
  margin-bottom: -16px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

fieldset hr{
  width: 20%;
  margin-top: -63px;
  margin-bottom: 3px;
  margin: auto;
  color: #ffffff;
}

.contacto{ 
  background-color: #1c1c30;
}
.bi{
  margin-top: -20px;
  color: #ffffff;
}

.fa{
  color: #ffffff;
}