*{
  margin: 0%;
  padding: 0%;
}
body{
  color: aliceblue;
  font-family: sans-serif;
  
}
main{
  background: url('img/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  height: 100vh; 
  background-size: cover;
  text-align: center;
  color: white;
  
}
main h1{
  font-size: 5em;
  text-align: center;
  margin-top: 20%;
}
main h3{
  margin-top:-1px;
}
main hr{
    width: 50%;
    margin-top: -63px;
    margin-bottom: 3px;
    margin: auto;
}
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}

.navbar li {
  display: inline;
  text-align: center;
  margin: 10px;
}
